* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar {
  background-color: purple; }
  .navbar .navbar-brand {
    height: 75px;
    width: 100px; }
  .navbar .navbar-toggler {
    background: white;
    color: white; }
  .navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    transition: all 0.5s; }
    .navbar .nav-item a:hover {
      color: palevioletred; }
  .navbar .search {
    height: 45px;
    outline: none;
    border: 2px solid white;
    border-radius: 20px 0px 0px 20px;
    border-right: none; }
  .navbar .btn1 {
    height: 45px;
    outline: none;
    border: 2px solid white;
    background-color: purple;
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s;
    font-weight: 600; }
    .navbar .btn1:hover {
      color: palevioletred; }
  .navbar .bi-cart {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s; }
    .navbar .bi-cart:hover {
      color: palevioletred; }

.main {
  background: url(../img/frutasyverduras.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%; }
  .main h6 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; }
  .main h1 {
    font-size: 3.75rem;
    font-family: 'Righteous', cursive; }
  .main p {
    color: gray;
    font-family: 'Montserrat', sans-serif; }
  .main .mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    background: purple;
    border-radius: 50px;
    transition: all 0.5s; }
    .main .mbtn1:hover {
      color: palevioletred; }
  .main .mbtn2 {
    height: 50px;
    width: 25%;
    outline: none;
    background-color: transparent;
    color: purple;
    font-weight: 600;
    border: 1px solid purple;
    border-radius: 50px;
    transition: all 0.5s; }
    .main .mbtn2:hover {
      color: palevioletred; }
