*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./layout/header";

.carousel-inner {
    
    img{width: 100%;
    max-height: 450px;}

    .carousel-caption{
        position: absolute;
        left: -30%;
        top: 190px;
        color: black;
        h5, p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }

        h1, h2{
            font-family: 'Righteous', cursive;
        }


    }
}