.store {


    h4{
        font-family: 'Righteous', cursive;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
    }

    .line { height: 6px;
        width: 30%;
        background-color: purple;
        display: inline-block;
        }

        .card{
            border-radius: 0;
            border: none;
            background: purple;
            color: white;
            transition: all 0.5s;
            cursor: pointer;

            &:hover{
                background-color: #B762C1;
            }

        }

        i{
            font-size: 45px;
        }
}